.wcpd__loader,
.wcpd__loader:after {
	border-radius: 50%;
	width: 10em;
	height: 10em;
}

.wcpd__loader {
	font-size: 3px;
	position: relative;
	border-top: 1.1em solid #e6e6e6;
	border-right: 1.1em solid #e6e6e6;
	border-bottom: 1.1em solid #e6e6e6;
	border-left: 1.1em solid #565656;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-animation: load8 1.1s infinite linear;
	animation: load8 1.1s infinite linear;
}

@-webkit-keyframes load8 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes load8 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

.wcpd__popin {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0);
	border: 1px solid;
	text-align: center;
	z-index: 100;
}

.wcpd__loader,
.wcpd__text {
	display: inline-block;
	vertical-align: middle;
}